html, body {
    background-color: limegreen;
    margin: 0px;
    font-family: "Avenir Medium", sans-serif;
    color: black;
    width: 100%;
    max-width: 100%;
    height: 100%;
    max-height: 100%;
}

/* block text selection */

* {
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
}

/* header and its parts */

header {
    background-color: white;
    height: 50px;
    width: 100%;
    max-width: 100%;
    line-height: 50px;
    filter: drop-shadow(0px 5px 0px grey);
    -webkit-filter:drop-shadow(0px 5px 0px grey);
}

footer {
    background-color: white;
    border-top: 2px solid orange;
    height: 50px;
    width: 100%;
    max-width: 100%;
    line-height: 50px;
}

header h2 {
    margin: 0px;
    font-weight: normal;
    display: inline-block;
    text-transform: uppercase;
}

.button {
    height: 30px;
    width: 30px;
    padding: 10px;
    background-repeat: no-repeat;
    background-size: 30px 30px;
    display: inline-block;
    background-origin: content-box;
    background-position: center center;
    filter: invert(60%);
    -webkit-filter: invert(60%);
}

.listeners-active .toggle-listeners {
    background-image: url("./img/glyphicons/png/glyphicons-560-mic-mute.png");
    background-size: 23px 30px;
    float: left;
}

.toggle-listeners {
    background-image: url("./img/glyphicons/png/glyphicons-301-microphone.png");
    background-size: 23px 30px;
    float: left;
}

.burger {
    background-image: url("./img/glyphicons/png/glyphicons-517-menu-hamburger.png");
    float: left;
}
.tile {
    background-image: url("./img/glyphicons/png/glyphicons-157-show-thumbnails.png");
    float: right;
}
.new-item {
    background-image: url("./img/glyphicons/png/glyphicons-433-plus.png");
    float: right;
}

.dots {
    background-image: url("./img/glyphicons/png/glyphicons-518-option-vertical.png");
    float:right;
    height: 20px;
    width: 6px;
    background-size: 6px 20px;
    filter: invert(60%);
    -webkit-filter: invert(60%);
}
.play {
    background-image: url("./img/glyphicons/png/glyphicons-174-play.png");
    width: 16px;
    background-repeat: no-repeat;
    padding-left: 20px;
    background-size: 16px 18px;
    filter: invert(60%);
    -webkit-filter: invert(60%);
}

.login {
    background-image: url("./img/glyphicons/png/glyphicons-387-log-in.png");
    float: left;
}

.refresh {
    background-image: url("./img/glyphicons/png/glyphicons-82-refresh.png");
    float: right;
}

.edit-item {
    padding-top: 15px;
    padding-bottom: 15px;
    background-image: url("./img/glyphicons/png/glyphicons-31-pencil.png");
    float: right;
}

/* main part of the view */

.maincontent {
    width: 100%;
    max-width: 100%;
    background-color: lightgrey;
    height: calc(100% - (102px));
    height: -webkit-calc(100% - 102px);
    max-height: calc(100% - 102px);
    max-height: -webkit-calc(100% - 102px);
    overflow-y: scroll;
    overflow-x: hidden;
}

/* list and list items */

.container {
}
.list_item_content {
    margin-left:110px;
    color:  gray;
    font-size: 18px;
}
.list_item_image {
    height:100px;
    width:100px;
    float:left;

    background-repeat: no-repeat;
    background-size: 100px 100px;
    display: inline-block;
    background-origin: content-box;
    background-position: center center;
}

ul {
    margin: 0px;
    list-style: none;
    padding: 0px;
}

li {
    /*height: 120px;*/
    /*line-height: 120px;*/
    min-height: 120px;
    font-size: 20pt;
    padding: 10px;
    background-color: white;
    border-bottom: 1px solid rgb(120,120,120);
}

/* disabled elements */
[disabled] {
    opacity: 0.5;
}

/* selected elements */
li:active, .button:active  {
    opacity: 0.1;
}

.image {
    height: 100px;
    width: 100px;
    background-repeat: no-repeat;
    background-size: 100px 100px;
    display: inline-block;
    background-origin: content-box;
    background-position: center center;
}

.list_1 {
    background-image: url("./img/list_01.jpg");
}
.list_2 {
    background-image: url("./img/list_02.jpg");
}
.list_3 {
    background-image: url("./img/list_03.jpg");
}
.list_4 {
    background-image: url("./img/list_04.jpg");
}
.list_5 {
    background-image: url("./img/list_05.jpg");
}
.list_6 {
    background-image: url("./img/list_06.jpg");
}
.list_7 {
    background-image: url("./img/list_07.jpg");
}

/* toast */

.toast {
    width: 60%;
    position: fixed;
    text-align: center;
    bottom: 15%;
    left: 20%;
    background-color: white;
    opacity: 0.0;
    transition: opacity 0.5s, background-color 0.5s;
    transition-delay: 0.5s;
}

.toast.shown {
    background-color: gray;
    color: white;
    opacity: 1.0;
    /*transition-delay: 0s;*/
    transition: opacity 1s, background-color 1s;
}

.list_item_title {
    color:black;
    font-size: 20px;
    margin-top:25px;
    margin-bottom: 10px;
}